03_type-descriptors/src/main/resources/gov/nih/cc/rmd/gate/gate/GATE_schema_updated_Mobility/GATE_Action.xml

<?xml version="1.0"?>
<!--
                                    NIH Clinical Center 
                              Department of Rehabilitation 
                         Epidemiology and Biostatistics Branch 
                                          2019
     
   This work is licensed under the Creative Commons Attribution 4.0 International License. 
   
   This license allows you to use, share and  adapt for any purpose, provided:
      Provide attribution to the creators of this work within your work.
      Indicate if changes were made to this work.
      No claim to merchantability, implied warranty, or liability can be made.
      
    When attributing this code, please make reference to
     [citation/url here] .  
     
      In the absence of a specific paper or url listed above, reference http://clinicalcenter.nih.gov/rmd/eb/nlp
   
   To view a copy of this license, visit http://creativecommons.org/licenses/by/4.0/
-->
<schema xmlns="http://www.w3.org/2000/10/XMLSchema">
  <!-- XSchema definition for Action -->
  <element name="Action">
    <complexType>
      <attribute name="Subdomain Code" use="optional" value="d410" >
          <simpleType>
              <restriction base="string">
                  <enumeration value="d410"/>
                  <enumeration value="d415"/>
                  <enumeration value="d420"/>
                  <enumeration value="d430"/>
                  <enumeration value="d435"/>
                  <enumeration value="d440"/>
                  <enumeration value="d445"/>
				  <enumeration value="d450"/>
				  <enumeration value="d455"/>
				  <enumeration value="d460"/>
				  <enumeration value="d470"/>
				  <enumeration value="d475"/>
				  <enumeration value="d480"/>
              </restriction>
          </simpleType>
      </attribute>
      <attribute name="Polarity" use="optional" value="Able" >
        <simpleType>
          <restriction base="string">
            <enumeration value="Unable"/>
			<enumeration value="Unclear"/>
            <enumeration value="Able"/>
          </restriction>
        </simpleType>   
      </attribute>
    </complexType>
  </element>
</schema>
