03_type-descriptors/src/main/resources/gov/nih/cc/rmd/gate/gate/IPIR_schema/IPIR.xml

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2000/10/XMLSchema">
  <!-- XSchema definition for Interpersonal Interactions and Relationships Mention -->
  <element name="Interpersonal Interactions and Relationships">
   <complexType>
          <attribute name="Timeline" use="required" value="Present" >
              <simpleType>
                  <restriction base="string">
                      <enumeration value="Past"/>
                      <enumeration value="Present"/>
					  <enumeration value="Future"/>
                  </restriction>
              </simpleType>
          </attribute>
		  <attribute name="Source" use="required" value="Objective" >
              <simpleType>
                  <restriction base="string">
                      <enumeration value="Objective"/>
                      <enumeration value="Subjective"/>
                  </restriction>
              </simpleType>   
          </attribute>   
		  <attribute name="Type" use="required" value="Patient" >
              <simpleType>
                  <restriction base="string">
                      <enumeration value="Patient"/>
                      <enumeration value="Other"/>
                  </restriction>
              </simpleType>   
          </attribute>
      </complexType>
  </element>
</schema>
